<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-button (click)="drawer.toggle()"> Dashboard </button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button (click)="drawer.toggle()" (click)="login()"> Login </button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button (click)="drawer.toggle()" (click)="logout()"> Logout </button></mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Contact Book</span>
      <span class="example-spacer"></span>

    </mat-toolbar>

  </div>

  <section>
    <div>
      <router-outlet></router-outlet>
    </div>
  </section>

</mat-drawer-container>
