<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <ng-container  *ngIf="isLoggedIn$ | async">
      <mat-list-item role="listitem"><button mat-button (click)="drawer.toggle()" routerLink="/Dashboard"> Dashboard
        </button></mat-list-item>
        <mat-list-item role="listitem"><button mat-button (click)="drawer.toggle()" (click)="logout()"
         > Logout </button></mat-list-item>
      </ng-container>
      <mat-list-item role="listitem"><button mat-button (click)="drawer.toggle()"
          *ngIf="!(isLoggedIn$ | async)"> Login </button></mat-list-item>
      
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Contact Book</span>
      <span class="example-spacer"></span>
      <ng-container *ngIf="(userProfilePic$ | async) as profilePic">
        <img class="profilePic" [src]="profilePic">
      </ng-container>
    </mat-toolbar>

  </div>

  <section>
    <div>
      <router-outlet></router-outlet>
    </div>
  </section>

</mat-drawer-container>