/* You can add global styles to this file, and also import other style files */

@import '~firebaseui/dist/firebaseui.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-color{
  color: green;
}

.gray-color{
  color: gray;
}

.profilePic {
  border-radius: 6px;
  width: 53px;
}
